# example private & local settings 
FLASK_ENV=development
FLASK_DEBUG=True
FLASK_TESTING=True
SECRET_KEY=
# example production settings
#FLASK_ENV=production
#FLASK_DEBUG=False
#FLASK_TESTING=False
# example secret key for authenticated SMTP
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=xy@gmail.com  # required for authenticated SMTP
SMTP_APP_PASSWORD=abcd1234efgh5678  # required for authenticated SMTP
#SMTP_FROM #to set "from" email address alias, if different from SMTP_USER