# example private & local settings 
FLASK_ENV=development
FLASK_DEBUG=True
FLASK_TESTING=True
SECRET_KEY="REPLACE_WITH_RANDOM_SECRET_KEY"
# example production settings
#FLASK_ENV=production
#FLASK_DEBUG=False
#FLASK_TESTING=False
# example secret key for authenticated SMTP
SMTP_HOST="smtp.gmail.com"
SMTP_PORT=465
SMTP_USER="REPLACE_WITH_EMAIL_ADDRESS"
SMTP_APP_PASSWORD="REPLACE_WITH_APP_PASSWORD"
#SMTP_FROM #to set "from" email address alias, if different from SMTP_USER
#LOCAL_HOST=localhost/127.0.0.1/my.domain.com