# example private & local settings 
FLASK_ENV=development
# example production settings
# FLASK_ENV=production
# example secret key for authenticated SMTP
SMTP_HOS=smtp.gmail.com
SMTP_PORT=465
SMTP_USER=xy  # required for authenticated SMTP
SMTP_APPP_PASSWORD=abc123  # required for authenticated SMTP
#SMTP_FROM #to set "from" email address alias, if different from SMTP_USER