{% extends 'site.html' %}
{% block extra_head %}
    {{ super() }}
    {% include '_watchlist_query_builder_assets.html' %}
{% endblock %}

{% block content %}

<div style="margin-top: 29px;"> 
    <h1>Point of Interest Watchlist Query Builder</h1>
</div>
<br>
{% include '_watchlist_query_builder.html' %}

{% include '_watchlist_query_builder_js.html' %}
<script>
document.addEventListener('DOMContentLoaded', function () {
  const root = document.querySelector('[data-watchlist-query-builder]');
  window.PoiWatchlistQueryBuilder.init(root);
});
</script>

{% endblock %}